|export default [ 
- var slides = contents['slides.env.md'].metadata.order
each slideName, index in slides
  |{ 
  - slide = contents[slideName+'.md'].metadata
  |"name": "#{slideName}",
  |"title": "#{slide.title}", 
  |"short": "#{slide.short}",
  |} 
  if index < slides.length - 1
    |,
|];